{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "env": {
    "node": true,
    "browser": true
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "standard",
    "standard-react"
  ],
  "plugins": [
    "@typescript-eslint",
    "react"
  ],
  "settings": {
    "react": {
      "version": "16.8"
    }
  },
  "rules": {
    "no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true,
        "allowTernary": true
      }
    ],
    "no-plusplus": "off",
    "indent": "off",
    "@typescript-eslint/indent": [
      "error",
      2
    ],
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "camelcase": "off"
  }
}
