# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
# build

# local development
.cache
stats.json
.vscode

# misc
.DS_Store
npm-debug.log
notes.txt
cors.json
src/parse.js
.eslintcache
.stlelintcache

stats
cjs
esm
umd
