.legend {
  cursor: pointer;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 4px;

  > .toggle,
  > .option {
    padding: 10px;
  }

  &:not(.open) {
    > .option {
      display: none;
    }
  }

  > .option {
    display: flex;

    > .swatch {
      height: 20px;
      width: 20px;
    }

    > :not(:first-child) {
      margin-left: 6px;
    }
  }
}