@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.map {
    font-family: 'Open Sans', sans-serif;
    height: inherit;
    min-height: inherit;
    min-width: inherit;
    position: relative;

    > .zoom, .legend {
        position: fixed;
        top: 10px;
    }

    > .zoom {
        left: 10px;
    }

    > .legend {
        right: 10px;
    }
}