.map {
    height: inherit;
    min-height: inherit;
    min-width: inherit;
    position: relative;

    > .zoom, .legend {
        position: fixed;
        top: 10px;
        opacity: 0.8;
    }

    > .zoom {
        left: 10px;
    }

    > .legend {
        right: 10px;
    }
}